*{ color:bisque;
    font-family: peralta;
}
body {
    display:block;
    width: 1600 px;
    margin: 2%;
}

header {
    display:flex;
    width: 100%;
    height: 110px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50%;
    text-align: center;
    margin-top: 25px;
    font-size: 250%;
}
 
main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card0 {
    display:flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.card0 img {
    display: block;
    width: 100%;
    justify-content: center;
}

.card1 {
    display: flex;
    justify-content: center;
    border-color: rgb(137, 193, 193);
    border-style: dotted;
    border-width: 5px;
    background-color: rgba(0, 0, 0, 0.575);
    position: absolute;
    top: 10%;
    height: 40%;
    width: 50%;
}

.card2{
    display:block;
    align-items: center;
    border-color: antiquewhite;
    border-style: initial;
}

#question {
    display:flex;
    justify-content: center;
    width: 90%;
}

.card3 {
    display: block;
    width: 100%;
    margin-top: 85px;
}

.card3 li {
    list-style: none;
    align-items: center;
}

.li-1, .li-2, .li-3 {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.answer-btn {
    background-color: rgba(0, 0, 0, 0.596);
    color: antiquewhite;
    width: 90%;
    display: none;
}

.move-buttons {
    display: block;
    position:absolute;
    width:100%;
    margin-top: 200px;
}

#start-button {
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin-top: 10px;
    border-color: rgb(39, 46, 46);
    color: black;
    width: 30%;
    margin-inline: auto;
}
#next-button {
    justify-content:center;
    background-color: aqua;
    margin-top: 10px;
    border-color: rgb(39, 46, 46);
    color: black;
    width: 100%;
    display: none;
}

.counters {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color:black;
    margin-top: 45%;
}

.card4 {
    display: flex;
    justify-content: center;
    margin-right: 30%;
}

.card4 h2 {
    display: flex;
    justify-content: center;
    
}


#timer {
    display: block;
}

.card5 {
    display: flex;
    justify-content: center;
}

.card5 h2 {
    display: flex;
    justify-content: center;
}

#wins {
    display:block; 
}

footer {
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}
footer h4 {
    display:flex;
    justify-content: center;
}