*{ color:bisque;
    font-family: barrio;
}
body {
    display:block;
    width: 1600 px;
    margin: 2%;
}

header {
    display:flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

header h1 {
    display: flex;
    justify-content: center;
    max-width: 60%;
    min-width: 50%;
    text-align: center;
}
 
main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card0 {
    display:flex;
    justify-content: center;
    position: relative;
    width: 100%; 
}
.card0 img {
    display: block;
    width: 100%;
    justify-content: center;
}

.card1 {
    display: flex;
    justify-content: center;
    border-color: rgb(16, 17, 17);
    border-width: 10px;
    background-color: rgba(0, 0, 0, 0.575);
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
}

.card2

#questions

.card3

.answers 

.answers li

.button

#start

footer 

.card4

.card4 h2

#timer

.card5

.card5 h2

#score

.bottom-footer

.bottom-footer h4
